:root {
    --list-width: 300px;
    --delete-button-position: 350px;
    --delete-button-position-mob: 82vw;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000 ;
    font-family: Roboto, sans-serif;
}

p {
    color: aliceblue;
    margin: 10px 5px;
}

.heading {
    margin: 20px 5px;
    font-family: 'Inter', 'Roboto', sans-serif;
    width: fit-content;
    background-color: #FF0000; /*fallback color*/
    background-image: linear-gradient(60deg,#2278fb, #a106f4, #f2c2ee); /* gradient that we want */
    background-size: 100%;  /* Set the background size and repeat properties. */
    background-repeat: repeat;
    /* Set text as transparent, so that the background shows through. */
    /*and set the background clip to text, which will only render the background where text is*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}



ul {
    padding: 0;
}


li {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: gold;
    background-image: linear-gradient(60deg,#ffb347, #ffcc33); 
    text-align: center;
    width: var(--list-width);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    overflow-y: auto; 
    text-justify: distribute-all-lines;
} 



#userinput {
        border: none;
        width: 200px;
        font-size: large;
        padding: 10px;
        border-radius: 10px;
        margin: 10px 5px;
}

.add-button {
    border: none;
    background-color: gold;
    background-image: linear-gradient(60deg,#ffb347, #ffcc33); 
    color: #000;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
}

.add-button:hover {
    background-image: linear-gradient(45deg, #ffcc33, #ffb347); 
}

.done {
    text-decoration: line-through;
    background-color: gray;
    background-image: linear-gradient(60deg,#727a9a, #bdc3c7); 

}

.delete-button {
    background-color: #333;
    background-image: linear-gradient(60deg,#232526, #414345); 
    color: #D90429;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    left: var(--delete-button-position);
    font-size: large;
}

.delete-button:hover {
    background-color: #222;
    background-image: linear-gradient(45deg,#333, #111);
    cursor: pointer;
}


@media only screen and (max-width: 480px) {
    body {
    display: flex;
    flex-direction: column;
    }

    p {
        font-size: 13px;
        padding: 0 5px;
    }

    h1 {

        text-align: center;
        align-self: center;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 70vw;
    }

    .add-elements-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5px;
    }

    .delete-button {
        left: var(--delete-button-position-mob);
        text-align: center;
    }



}
