* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: #000000 ;
}

p {
    color: aliceblue;
    margin: 10px 5px;
}

h1 {
    color: #7B2CBF;
    margin: 20px 5px;
}


ul {
    padding: 0;
}


li {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: gold;
    text-align: center;
    width: 300px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    overflow-y: auto; 
    text-justify: distribute-all-lines;
} 

#userinput {
        border: none;
        width: 200px;
        font-size: large;
        padding: 5px;
        border-radius: 5px;
        margin: 10px 5px;
}

.add-button {
    border: none;
    background-color: gold;
    font-size: large;
    padding: 5px 20px;
    border-radius: 5px;
}

.done {
    text-decoration: line-through;
}

.delete-button {
    background-color: #333;
    color: #D90429;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    position: fixed;
    left: 35%;
}

.delete-button:hover {
    background-color: #222;
    cursor: pointer;
}
